body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-index {
    font-family: Arial, sans-serif;
    max-width: 850px;
    margin: 0 auto;
}

header, footer {
    padding: 10px 0;
}

footer {
    background-color: #8eb0e9;
    margin-top: 30px;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1px;
    
}

section {
    margin-left: 5%;
    margin-right: 5%;
}

.nav-title, .user-greeting, .search-form{
    background-color: #8eb0e9;
    color: #f5f5f5;
    height: 50px;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-greeting {
    padding: 0 20px;
}
.nav-title #nav-2 {
    font-size: 0.6em;
}
.nav-title #nav-1 #nav-3 {
    font-size: 2em;
    margin: 0;
    padding: 0 20px;
}

.search-form button{
    background: #f4f6f8;
    color:#8eb0e9;
    border: #333;
    padding: 5px;
    cursor: pointer;
    margin: 10px;

}

.search-form input {
    padding: 5px;
    border: 1px solid #ccc;
    width: 150px;
    margin-left: 10px;
}

.student-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.student-item {
    width: 180px;
    height: auto;
    text-align: center;
    background: #f4f6f8;
    border: #333;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.student-item img {
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid white;
}

.student-item div {
    font-weight: 600;
    color: #81a7d7;
}

.student-item:hover {
    background-color: #99c5dd !important;
    transform: rotate(3deg);
}

.student-item:hover img {
    transform: scale(1.1) rotate(3deg);
}

.student-item:hover div {
    transform: scale(1.05) rotate(-1deg);
}

.student-item img, .student-item div {
    transition: all 0.3s ease-in-out;
    transform-origin: center;
}
.no-results {
    grid-column: 1 / 1;
    text-align: center;
    padding: 2rem;
    font-size: 1.2vw;
    color: #81a7d7;
    display: block !important;
}


.perfil-container {
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
.perfil-container #perfil-image {
    flex: 1;
    margin-right: 20px;
    max-width: 200px;
    height: auto;
    border-top-left-radius: 50px;
}
.perfil-info {
    flex: 1;
    border: 2px solid #aaa;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.perfil-info h1 {
    color: rgb(20, 190, 190);
    margin: 0;
    padding: 10px;
}
.perfil-info p {
    margin: 10px 0;
    padding: 10px;
    font-family: 'Franklin Gothic';
    font-style: italic;
}
.perfil-info ul {
    list-style: none;
    padding: 0;
    padding: 10px;
}
.perfil-info ul li {
    margin: 5px 0;
}
#perfil-email-enlace {
    margin: 10px 0;
    padding: 10px;
    font-family: 'Franklin Gothic';
    font-style: italic;
    color: rgb(20, 190, 190);
    text-decoration: none;
}
.perfil-info a:visited {
    color: red;
}

@media (max-width: 480px) {
    .body-index {
        max-width: 100%;
        padding: 10px;
    }
    nav{
        width: 100%;
        height: auto;
    }
    .search-form input {
        width: 20%;
    }
    .student-item img {
        width: 20vw;
        height: 20vw;
    }
    .student-item {
        width: 30%;
        height: 30%;
        font-size: 2.5vw;
    }
    .nav-title #nav-2 {
        font-size: 2vw;
    }
    .nav-title #nav-1 #nav-3 {
        font-size: 3vw;
    }

    .perfil-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .perfil-container img {
        height: auto;
    }
    .perfil-info {
        font-size: 3vw;
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .body-index {
        max-width: 90%;
    }
    nav{
        width: 100%;
        height: auto;
    }
    .search-form input {
        width: 30%;
    }
    .student-item {
        width: 29%;
        height: 29%;
        font-size: 2vw;
    }
    .student-item img {
        width: auto;
    }
    .nav-title #nav-2 {
        font-size: 2vw;
    }
    .nav-title #nav-1 #nav-3 {
        font-size: 3vw;
    }
    .perfil-container {
        max-width: 90%;
        margin-right: 10%;
    }
    .perfil-container img {
        height: auto;
    }
    .perfil-info{
        font-size: 2vw;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    .body-index {
        max-width: 80%;
    }
    nav{
        width: 100%;
        height: auto;
    }
    .search-form input {
        width: 40%;
    }
    .student-item {
        width: 29%;
        height: 29%;
    }
    .student-item img {
        width: auto;
    }
    .nav-title #nav-2 {
        font-size: 2vw;
    }
    .nav-title #nav-1 #nav-3 {
        font-size: 3vw;
    }
    .perfil-container {
        max-width: 80%;
        margin-right: 15%;
    }
    .perfil-container img {
        height: auto;
    }
    .perfil-info{
        font-size: 1.8vw;
    }
    
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .body-index {
        max-width: 850px;
    }
    nav{
        width: 100%;
        height: auto;
    }
    .student-item {
        width: 30%;
        height: 30%;
    }
    .student-item img {
        width: auto;
    }
    .perfil-container {
        max-width: 850px;
        margin-right: 15%;
    }
    .perfil-container img {
        height: auto;
    }
    .perfil-info h1 {
        font-size: 2vw;
    }
}